/* 
declaration block: 

selector{
  property: value;
  property2: value;
}
*/


body {
    background-color: rgb(132, 192, 226);
    color: whitesmoke;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
    font-size: 30px;

}

footer{
    text-align: center;
    margin-right: 200px;

}
 
#MemeImage{
    scroll-margin-left: 800px;
    width: 900px;
}

h1{
    color: white;
    text-align: center;
}